@charset "utf-8";
/* CSS Document */

a. _______ {font-size: 1.5em;} 5
b. _______ {text-transform: capitalize;} 2
c. _______ {text-align: right;} 10
d. _______ {font-family: Verdana; font-size: 1.5em;} 4
e. _______ {letter-spacing: 3px;} 3
f. _______ {font: bold italic 1.2em Verdana;}9
g. _______ {text-transform: uppercase;} 8
h. _______ {text-indent: 2em;} 6
i. _______ {font-variant: small-caps;}7



