@charset "utf-8";
/* CSS Document */

header{
	background-color:#666;
	text-align:center;
}

header h1{
	color:white;
}

header a{
	text-transform: uppercase;
}

h2{
	color:grey;
	background-color:#0CF;
}

body{
	background-color:grey;
}

footer{
	background-color:#666;
}

	